<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Alienated</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav nav-right">
      <li class="nav-item">
        <a
          routerLink="/dashboard"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/profile"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Profile</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/blog"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Blog</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/login"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/logout" class="nav-link">Logout</a>
      </li>
      <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
    </ul>
  </div>
</nav>
